@use "../foundations/foundations__spaces";
@use "../settings/core-functions/px-to-rem";

/* -------------------------------------------------------------------------
 * RESET
 *
 * A very simple reset that sits on top of Normalize.css. */

// Reset variables

$g-reset__spacing--vertical: foundations__spaces.$f-space !default;
$g-reset__spacing--horizontal: foundations__spaces.$f-space !default;

// Reset content

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

// Remove trailing margins from nested lists.

li > {
  ol,
  ul {
    margin-bottom: 0;
  }
}

// Remove default table spacing.

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Vertical spacing

address,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
ol,
ul,
figure,
hr,
table,
fieldset {
  margin-bottom: px-to-rem.s-core-px-to-rem($g-reset__spacing--vertical);
}

// Consistent indentation for lists.

dd,
ol,
ul {
  margin-left: px-to-rem.s-core-px-to-rem($g-reset__spacing--horizontal);
}
