@use "../settings/settings__config";

/* -------------------------------------------------------------------------
 * ERROR Hinting
 *
 * React componentDidCatch motivated/inspired basic error boundary hinting
 * available in debug mode only */

@if settings__config.$s-config__debug {
  .debug--warning {
    border: 3px solid rgb(255, 0, 0) !important;
    background-color: rgba(255, 0, 0, 0.1) !important;
  }

  .debug--warning {
    border: 3px solid rgb(255, 160, 55) !important;
    background-color: rgba(255, 160, 55, 0.1) !important;
  }

  .debug--info {
    border: 3px solid rgb(0, 0, 255) !important;
    background-color: rgba(0, 0, 255, 0.1) !important;
  }
}
