@use "sass:math";
@use "sass:string";

$base: "~@prudencss/filters-svg";
$filter: (
  "color__alpha--luminanceToAlpha",
  "color__colorize--red",
  "color__colorize--red-1/10",
  "color__colorize--red-2/10",
  "color__colorize--red-3/10",
  "color__colorize--red-4/10",
  "color__colorize--red-5/10",
  "color__colorize--red-6/10",
  "color__colorize--red-7/10",
  "color__colorize--red-8/10",
  "color__colorize--red-9/10",
  "color__colorize--green",
  "color__colorize--green-1/10",
  "color__colorize--green-2/10",
  "color__colorize--green-3/10",
  "color__colorize--green-4/10",
  "color__colorize--green-5/10",
  "color__colorize--green-6/10",
  "color__colorize--green-7/10",
  "color__colorize--green-8/10",
  "color__colorize--green-9/10",
  "color__colorize--blue",
  "color__colorize--blue-1/10",
  "color__colorize--blue-2/10",
  "color__colorize--blue-3/10",
  "color__colorize--blue-4/10",
  "color__colorize--blue-5/10",
  "color__colorize--blue-6/10",
  "color__colorize--blue-7/10",
  "color__colorize--blue-8/10",
  "color__colorize--blue-9/10",
  "color__colorize--yellow",
  "color__colorize--yellow-1/10",
  "color__colorize--yellow-2/10",
  "color__colorize--yellow-3/10",
  "color__colorize--yellow-4/10",
  "color__colorize--yellow-5/10",
  "color__colorize--yellow-6/10",
  "color__colorize--yellow-7/10",
  "color__colorize--yellow-8/10",
  "color__colorize--yellow-9/10",
  "color__colorize--magenta",
  "color__colorize--magenta-1/10",
  "color__colorize--magenta-2/10",
  "color__colorize--magenta-3/10",
  "color__colorize--magenta-4/10",
  "color__colorize--magenta-5/10",
  "color__colorize--magenta-6/10",
  "color__colorize--magenta-7/10",
  "color__colorize--magenta-8/10",
  "color__colorize--magenta-9/10",
  "color__colorize--cyan",
  "color__colorize--cyan-1/10",
  "color__colorize--cyan-2/10",
  "color__colorize--cyan-3/10",
  "color__colorize--cyan-4/10",
  "color__colorize--cyan-5/10",
  "color__colorize--cyan-6/10",
  "color__colorize--cyan-7/10",
  "color__colorize--cyan-8/10",
  "color__colorize--cyan-9/10",
  "color__filter--red",
  "color__filter--red-1/10",
  "color__filter--red-2/10",
  "color__filter--red-3/10",
  "color__filter--red-4/10",
  "color__filter--red-5/10",
  "color__filter--red-6/10",
  "color__filter--red-7/10",
  "color__filter--red-8/10",
  "color__filter--red-9/10",
  "color__filter--green",
  "color__filter--green-1/10",
  "color__filter--green-2/10",
  "color__filter--green-3/10",
  "color__filter--green-4/10",
  "color__filter--green-5/10",
  "color__filter--green-6/10",
  "color__filter--green-7/10",
  "color__filter--green-8/10",
  "color__filter--green-9/10",
  "color__filter--blue",
  "color__filter--blue-1/10",
  "color__filter--blue-2/10",
  "color__filter--blue-3/10",
  "color__filter--blue-4/10",
  "color__filter--blue-5/10",
  "color__filter--blue-6/10",
  "color__filter--blue-7/10",
  "color__filter--blue-8/10",
  "color__filter--blue-9/10",
  "color__filter--yellow",
  "color__filter--yellow-1/10",
  "color__filter--yellow-2/10",
  "color__filter--yellow-3/10",
  "color__filter--yellow-4/10",
  "color__filter--yellow-5/10",
  "color__filter--yellow-6/10",
  "color__filter--yellow-7/10",
  "color__filter--yellow-8/10",
  "color__filter--yellow-9/10",
  "color__filter--magenta",
  "color__filter--magenta-1/10",
  "color__filter--magenta-2/10",
  "color__filter--magenta-3/10",
  "color__filter--magenta-4/10",
  "color__filter--magenta-5/10",
  "color__filter--magenta-6/10",
  "color__filter--magenta-7/10",
  "color__filter--magenta-8/10",
  "color__filter--magenta-9/10",
  "color__filter--cyan",
  "color__filter--cyan-1/10",
  "color__filter--cyan-2/10",
  "color__filter--cyan-3/10",
  "color__filter--cyan-4/10",
  "color__filter--cyan-5/10",
  "color__filter--cyan-6/10",
  "color__filter--cyan-7/10",
  "color__filter--cyan-8/10",
  "color__filter--cyan-9/10",
  "color__saturation--grayscale",
  "color__saturation--grayscale-1/10",
  "color__saturation--grayscale-2/10",
  "color__saturation--grayscale-3/10",
  "color__saturation--grayscale-4/10",
  "color__saturation--grayscale-5/10",
  "color__saturation--grayscale-6/10",
  "color__saturation--grayscale-7/10",
  "color__saturation--grayscale-8/10",
  "color__saturation--grayscale-9/10",
  "color__saturation--greyscale",
  "color__saturation--greyscale-1/10",
  "color__saturation--greyscale-2/10",
  "color__saturation--greyscale-3/10",
  "color__saturation--greyscale-4/10",
  "color__saturation--greyscale-5/10",
  "color__saturation--greyscale-6/10",
  "color__saturation--greyscale-7/10",
  "color__saturation--greyscale-8/10",
  "color__saturation--greyscale-9/10",
  "lineart__edge--bevel",
  "lineart__edge--edge",
  "lineart__edge--edge-detection",
  "lineart__edge--emboss",
  "lineart__edge--emboss-light",
  "lineart__edge--sobel",
  "lineart__edge--sobel2",
  "lineart__edge--sobel3",
  "lineart__text--sketchy1",
  "lineart__text--posterize1",
  "lineart__text--posterize2",
  "lineart__text--posterize3",
  "lineart__text--posterize4",
  "lineart__text--outlined",
  "lineart__text--extruded",
  "lineart__artistic--splash",
  "lineart__artistic--comic-header-industrial",
  "lineart__artistic--vintage",
  "lineart__artistic--blast-striped",
  "lineart__artistic--grundge1",
  "lineart__artistic--grundge2",
  "lineart__artistic--noise-fill",
  "focus__sharpen--sharpen"
);

@each $_filter in $filter {
  .u-effects-#{if(string.index($_filter, "/"), string.insert($_filter, "\\", string.index($_filter, "/")), $_filter)} {
    filter: url("#{$base}##{$_filter}");
  }
}

@for $_part from 1 to 10 {
  .u-effects-default__brightness--darken-#{$_part}\/10 {
    filter: brightness(#{100% - $_part * 10%});
  }
  .u-effects-default__brightness--lighten-#{$_part}\/10 {
    filter: brightness(#{100% + $_part * 10%});
  }
  .u-effects-default__saturation--saturate-#{$_part} {
    filter: saturate($_part);
  }
  .u-effects-default__invert-#{$_part}\/10 {
    filter: invert($_part * 0.1);
  }
  .u-effects-default__opacity--transparentize-#{$_part}\/10 {
    filter: opacity(1 - $_part * 0.1);
  }
  .u-effects-default__sepia--intensity-#{$_part}\/10 {
    filter: sepia(#{$_part * 10%});
  }
}

@for $_part from 1 to 6 {
  .u-effects-default__hue-rotate-#{$_part}\/7 {
    filter: hue-rotate(math.round($_part / 7 * 360)deg);
  }
}

@for $_part from 1 to 25 {
  .u-effects-default__blur-#{$_part}px {
    filter: blur(#{$_part}px);
  }
}

