@use "sass:math";
@use "sass:string";

@for $_part from 1 to 10 {
  .u-effects-default__brightness--darken-#{$_part}\/10 {
    filter: brightness(#{100% - $_part * 10%});
  }
  .u-effects-default__brightness--lighten-#{$_part}\/10 {
    filter: brightness(#{100% + $_part * 10%});
  }
  .u-effects-default__saturation--saturate-#{$_part} {
    filter: saturate($_part);
  }
  .u-effects-default__invert-#{$_part}\/10 {
    filter: invert($_part * 0.1);
  }
  .u-effects-default__opacity--transparentize-#{$_part}\/10 {
    filter: opacity(1 - $_part * 0.1);
  }
  .u-effects-default__sepia--intensity-#{$_part}\/10 {
    filter: sepia(#{$_part * 10%});
  }
}

@for $_part from 1 to 6 {
  .u-effects-default__hue-rotate-#{$_part}\/7 {
    filter: hue-rotate(string.unquote("#{math.round($_part / 7 * 360)}deg"));
  }
}

@for $_part from 1 to 25 {
  .u-effects-default__blur-#{$_part}px {
    filter: blur(string.unquote("#{$_part}px"));
  }
}

