@use "sass:map";
@use "../foundations/foundations__colors-brand";
@use "../foundations/foundations__colors-neutral";
@use "../foundations/foundations__colors-state";
@use "../foundations/foundations__durations";
@use "../foundations/foundations__easings";

@use "sass:color";

/* -------------------------------------------------------------------------
 * RIPPLE
 *
 * Pure CSS Material Design Ripple Effect
 *
 * Params:
 * DURATION ........................... Animation duration */

// Animation variables
// --------------------------------------------------

$a-ripple--enabled: true !default;

// Animation Params

$a-ripple__duration: foundations__durations.$f-duration--slow !default;
$a-ripple__timing: foundations__easings.$f-easing--out !default;

// Modifiers durations

$a-ripple__mod-durations--enabled: true !default;
$a-ripple__mod-durations: foundations__durations.$f-durations !default;

@mixin a-ripple {
  background-position: center;
  transition: background $a-ripple__duration $a-ripple__timing;
}

@mixin a-ripple--hover($_color) {
  background: $_color radial-gradient(circle, transparent 0.1%, $_color 0.1%) (center / 150000%);
}

@mixin a-ripple--in {
  background-size: 100%;
  transition: background 0s;
  background-color: color.scale(foundations__colors-neutral.$f-color__neutral--accent-bg, $lightness: if(color.lightness(foundations__colors-neutral.$f-color__neutral--accent-bg) > 50%, 50%, -50%));
}

@mixin a-ripple--in-colored($_color) {
  background-size: 100%;
  background-color: $_color;
}

@mixin a-ripple__mod-duration($_duration-value: foundations__durations.$f-duration--normal) {
  transition-duration: $_duration-value;
}

@mixin a-ripple--unset {
  transition-property: all;
  transition-duration: 0s;
  transition-timing-function: ease;
}

@if $a-ripple--enabled {
  .a-ripple {
    @include a-ripple;

    &:hover,
    &:focus {
      @include a-ripple--hover(color.scale(foundations__colors-neutral.$f-color__neutral--accent-bg, $lightness: if(color.lightness(foundations__colors-neutral.$f-color__neutral--accent-bg) > 50%, 17%, -17%)));
    }

    &:active,
    &.in {
      @include a-ripple--in;
    }

    @each $_color-name, $_color-val in map.merge(foundations__colors-brand.$f-colors-brand, foundations__colors-state.$f-colors-state) {
      &:hover[class*="--#{$_color-name}"],
      &:focus[class*="--#{$_color-name}"] {
        @include a-ripple--hover(color.scale($_color-val, $lightness: if(color.lightness($_color-val) > 50%, 17%, -17%)));
      }

      &:active[class*="--#{$_color-name}"],
      &.in[class*="--#{$_color-name}"] {
        @include a-ripple--in-colored(color.scale($_color-val, $lightness: if(color.lightness($_color-val) > 50%, 50%, -50%)));
      }
    }

    @if $a-ripple__mod-durations--enabled {
      @each $_name, $_duration in $a-ripple__mod-durations {
        &.a-ripple--duration-#{$_name} {
          @include a-ripple__mod-duration($_duration);
        }
      }
    }
  }
}
