@use "../foundations/foundations__spaces";
@use "../generic/generic__reset";

/* -------------------------------------------------------------------------
 * PARAGRAPHS
 *
 * Appearance & behaviour for paragraphs */

// Paragraphs variables

$e-paragraphs__spacing-vertical: generic__reset.$g-reset__spacing--vertical !default;
$e-paragraphs__space-within: foundations__spaces.$f-space--s !default;

// Paragraphs output

p + p {
  margin-top: ($e-paragraphs__spacing-vertical - $e-paragraphs__space-within) * -1;
}
