@import "../foundations/foundations__spaces";
@import "../generic/generic__reset";

/* -------------------------------------------------------------------------
 * PARAGRAPHS
 *
 * Appearance & behaviour for paragraphs */

// Paragraphs variables

$e-paragraphs__spacing-vertical: $g-reset__spacing--vertical !default;
$e-paragraphs__space-within: $f-space--s !default;

// Paragraphs output

p + p {
  margin-top: ($e-paragraphs__spacing-vertical - $e-paragraphs__space-within) * -1;
}
