@use "sass:color";
@use "sass:map";

.c-btn {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  margin: 0;
  padding: $f-space--small $f-space--medium;
  background-color: $f-color__neutral--accent-bg;
  cursor: pointer;
  outline: none;
  border-color: inherit;
  border-style: solid;
  border-radius: $f-radius--small;

  &:hover:not(.a-ripple),
  &:focus:not(.a-ripple) {
    background-color: color.scale($f-color__neutral--accent-bg, $lightness: if(color.lightness($f-color__neutral--accent-bg) > 50%, 17%, -17%));
  }

  &:active:not(.a-ripple) {
    background-color: color.scale($f-color__neutral--accent-bg, $lightness: if(color.lightness($f-color__neutral--accent-bg) > 50%, 33%, -33%));
  }


  // Branding Color Variants

  @each $_name, $_val in $f-colors-brand {
    &.c-btn--#{$_name} {
      background-color: $_val;
      border-color: map.get($f-colors-neutral, $_name);
      color: map.get($f-colors-neutral, $_name);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        border-color: color.scale(map.get($f-colors-neutral, $_name), $lightness: if(color.lightness(map.get($f-colors-neutral, $_name)) > 50%, -17%, 17%));
        color: color.scale(map.get($f-colors-neutral, $_name), $lightness: if(color.lightness(map.get($f-colors-neutral, $_name)) > 50%, -17%, 17%));
      }

      &:hover,
      &:focus {
        &:not(.a-ripple) {
          background-color: color.scale($_val, $lightness: if(color.lightness($_val) > 50%, 33%, -33%));
        }
      }

      &:active:not(.a-ripple) {
        background-color: color.scale($_val, $lightness: if(color.lightness($_val) > 50%, 33%, -33%));
      }
    }
  }

  @each $_name, $_val in $f-colors-neutral {
    $_bg-pendant: map.get($f-colors-neutral--bg, $_name);

    &.c-btn--neutral-#{$_name} {
      background-color: $_bg-pendant;
      border-color: map.get($f-colors-neutral, $_name);
      color: map.get($f-colors-neutral, $_name);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        border-color: color.scale($_val, $lightness: if(color.lightness($_val) > 50%, -17%, 17%));
        color: color.scale($_val, $lightness: if(color.lightness($_val) > 50%, -17%, 17%));
      }

      &:hover,
      &:focus {
        &:not(.a-ripple) {
          background-color: color.scale($_val, $lightness: if(color.lightness($_bg-pendant) > 50%, 33%, -33%));
        }
      }

      &:active:not(.a-ripple) {
        background-color: color.scale($_val, $lightness: if(color.lightness($_bg-pendant) > 50%, 33%, -33%));
      }
    }
  }
  // State Color Variants

  @each $_name, $_val in $f-colors-state {
    &.c-btn--#{$_name} {
      background-color: $_val;
      border-color: $f-color__neutral--primary;
      color: $f-color__neutral--primary;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        border-color: color.scale($f-color__neutral--primary, $lightness: if(color.lightness($f-color__neutral--primary) > 50%, -17%, 17%));
        color: color.scale($f-color__neutral--primary, $lightness: if(color.lightness($f-color__neutral--primary) > 50%, -17%, 17%));
      }

      &:hover,
      &:focus {
        &:not(.a-ripple) {
          background-color: color.scale($_val, $lightness: if(color.lightness($_val) > 50%, 33%, -33%));
        }
      }

      &:active:not(.a-ripple) {
        background-color: color.scale($_val, $lightness: if(color.lightness($_val) > 50%, 33%, -33%));
      }
    }
  }

  // Size variants

  @each $_name, $_val in s-core-map-diff(("none": $f-space--none), $f-spaces) {
    &.c-btn--#{$_name} {
      padding: calc(#{$_val} / 6) $_val;
      font-size: 1rem;

      &.c-btn--fab {
        padding: unset;
        width: calc(3rem + $_val);
        height: calc(3rem + $_val);
        font-size: calc(1rem + $_val);
        line-height: 1;
        clip-path: circle(calc((3rem + #{$_val}) / 2));
      }
    }
  }

  // Pointing variants

  @each $_pos-name in $f-positions__compass {
    &.c-btn--arrow-#{$_pos-name} {
      border-color: inherit;

      @extend %u-arrow__mod--fraction--#{$_pos-name}#{$f-positions__separator}half;
    }

    @each $_fraction-name, $_fraction-val in $f-positions__fractions {
      &.c-btn--arrow-#{$_pos-name}#{$f-positions__separator}#{$_f-fraction-name} {
        border-color: inherit;

        @extend %u-arrow__mod--fraction--#{$_pos-name}#{$f-positions__separator}#{$_fraction-name};
      }
    }
  }

  &.c-btn--ghost,
  &.c-btn--basic,
  &.c-btn--stroked {
    background-color: transparent;
  }

  &.c-btn--no-border,
  &.c-btn--basic,
  &.c-btn--fab,
  &.c-btn--flat {
    border: none;
  }

  &.c-btn--fab {
    border-radius: 50%;
    padding: unset;
    width: 3rem;
    height: 3rem;
  }
}
