/* -------------------------------------------------
 * Prudencss settings: project specific
 *
 * Please copy this template-file and provide your _project-specific_ values
 *
 * ------------------------------------------------- */

/* -------------------------------------------------
 * SETTINGS
 * ------------------------------------------------- */

/* -------------------------------------------------------------------------
 * SCOPED
 * enable if you are scoping the output in a scope selector
 *
 * If set to true, the root html tag must have the scoping CSS-class: 's-prudencss'
 * */

$s-config__scoped: true;

/* -------------------------------------------------------------------------
 * SCOPE-SELECTOR
 *
 * This will be the CSS-class suffix for which will include all CSS classes of the CSS framework part. Your main/top-level html-tag must include (if scoped) this class in order for selectors to be recognized.
 * The suffix will be attached to: '.s-'
 * Example:
 * $s-config__scope-selector: my-module;
 * => Root CSS Class: '.s-my-module'
 * */

$s-config__scope-selector: my-module;

/* -------------------------------------------------------------------------
 * ENVIRONMENT
 * dev .................. Development
 * prod ................. Production */

$s-config__env: "dev";

/* -------------------------------------------------------------------------
 * DEBUG
 * for debugging proposes */

$s-config__debug: false;

/* -------------------------------------------------------------------------
 * PATHS
 * where to refer for fonts, images and other resources */

$s-config__path--img: "../assets/img";
$s-config__path--fonts: "../assets/fonts";

/* -------------------------------------------------------------------------
 * SPECIAL CHARS
 * peculiar chars used on strings, separators and suffixes */

$s-config__special-char--breakpoint-separator: \@;
$s-config__special-char--ratio-separator: \:;

/* -------------------------------------------------------------------------
 * BREAKPOINTS
 * -------------------------------------------------------------------------*/

// Main portable device portrait breakpoints

$f-breakpoint--portrait__mobile--s: 360px;
$f-breakpoint--portrait__mobile--m: 480px;
$f-breakpoint--portrait__mobile--l: 600px;

$f-breakpoint--portrait__tablet--s: 720px;
$f-breakpoint--portrait__tablet--m: 840px;
$f-breakpoint--portrait__tablet--l: 960px;

// Main portable device landscape breakpoints

$f-breakpoint--landscape__mobile--s: 480px;
$f-breakpoint--landscape__mobile--m: 600px;
$f-breakpoint--landscape__mobile--l: 960px;

$f-breakpoint--landscape__tablet--s: 960px;
$f-breakpoint--landscape__tablet--m: 1280px;
$f-breakpoint--landscape__tablet--l: 1440px;

// Main desktop breakpoints

$f-breakpoint__desktop--s: 1440px;
$f-breakpoint__desktop--m: 1600px;
$f-breakpoint__desktop--l: 1920px;

/* -------------------------------------------------------------------------
 * COLORS
 *
 * if your main branding colors are lighter please set theme-type to "light", if they are darkish to "dark"
 * => this determines certain aspects of accent, backgrounds, shadows, ...
 * ------------------------------------------------------------------------- */

$f-color__brand-theme-type: "light";

// Main colors of the site as of your branding

$f-color__brand-primary: #f25f5c;
$f-color__brand-secondary: #69b7a4;
$f-color__brand-accent: #ffe066;

// Main text colors

$f-color__neutral-primary: rgb(0, 0, 0);
$f-color__neutral-secondary: rgb(255, 255, 255);
$f-color__neutral-accent: rgb(255, 255, 200);

// Main backround colors

$f-color__neutral-primary-bg: rgb(255, 255, 255);
$f-color__neutral-secondary-bg: rgb(0, 0, 0);
$f-color__neutral-accent-bg: rgb(150, 150, 150);

// Main state colors

$f-color__state-success: #36ba33;
$f-color__state-info: #20a0de;
$f-color__state-warning: #f99500;
$f-color__state-danger: #c1101f;
$f-color__state-disabled: #777;

// Main other colors

// hyperlink color
$f-color__digital-blue: #0070d2;

/* -------------------------------------------------------------------------
 * EASINGS
 * ------------------------------------------------------------------------- */

$f-easings--user: (
//  "myEasing": cubic-bezier(0, 0, 0, 0)
);

/* -------------------------------------------------------------------------
 * DURATIONS
 * ------------------------------------------------------------------------- */

// Main animation duration timespan

$f-duration: 0.3s;

// Factor for speeding up or slowing down normal animation speed as of speeds: slow, fast as compared to normal

$f-duration-factor: 2;

/* -------------------------------------------------------------------------
 * FONTS
 * ------------------------------------------------------------------------- */

// Fallback families

$f-font-family__sans-fallback: Arial, Geneva, sans-serif;

// Main font families

$f-font-family__primary: Tahoma, $f-font-family__sans-fallback;
$f-font-family__secondary: Verdana, $f-font-family__sans-fallback;
$f-font-family__accent: Georgia, $f-font-family__sans-fallback;

/* -------------------------------------------------------------------------
 * FONT SIZES
 * ------------------------------------------------------------------------- */

// Core Font Size
$s-core__font-size: 16px;

$f-font-size--xxs: $s-core__font-size - (3 * 2px);
$f-font-size--xs: $s-core__font-size - (2 * 2px);
$f-font-size--s: $s-core__font-size - (1 * 2px);
$f-font-size--m: $s-core__font-size;
$f-font-size--l: $s-core__font-size + (1 * 2px);
$f-font-size--xl: $s-core__font-size + (4 * 2px);
$f-font-size--xxl: $s-core__font-size + (8 * 2px);
$f-font-size--xxxl: $s-core__font-size + (16 * 2px);

/* -------------------------------------------------------------------------
 * LINE HEIGHTS
 * ------------------------------------------------------------------------- */

$f-line-height--tiny: 1;
$f-line-height--small: 1.25;
$f-line-height--medium: 1.618;
$f-line-height--large: 2;

/* -------------------------------------------------------------------------
 * RADIUS
 * ------------------------------------------------------------------------- */

// Main radius

$f-radius: 6px;

/* -------------------------------------------------------------------------
 * SHADOWS
 * ------------------------------------------------------------------------- */

// Custom user defined shadows map

$f-shadows--custom: (
// "myShadowStyle": 7px 0px 7px -7px
);


/* -------------------------------------------------------------------------
 * SPACING - vertical rhythm
 *
 * must remain px unit
 * ------------------------------------------------------------------------- */

$f-space: 12px;
$f-space__factor: 1.618;

/* -------------------------------------------------------------------------
 * FEATURE SWITCHES
 * ------------------------------------------------------------------------- */

// COLOR schemes

$cs-default--enabled: true;
$cs-inverted--enabled: true;

// MATERIALS (font-family, font-size, line-height, ...)

$m-body--enabled: true;
$m-body__mod-sizes--enabled: true !default;

$m-heading--enabled: true;
$m-heading__mod-sizes--enabled: true;

// ANIMATIONS

$a-reveal-opacity--enabled: true;
$a-reveal-opacity__mod-durations--enabled: true;

$a-reveal-slide--enabled: true;
$a-reveal-slide__mod-durations--enabled: true;
$a-reveal-slide__mod-directions--enabled: true;

$a-ripple--enabled: true;
$a-ripple__mod-durations--enabled: true;

// SPACINGS

$sp-inline__enabled: true;
$sp-inset__enabled: true;
$sp-inset-squish__enabled: true;
$sp-inset-slender__enabled: true;
$sp-inset-stretch__enabled: true;
$sp-stack__enabled: true;

// ObJECTS

$o-box--enabled: true;

$o-crop--enabled: true;
$o-crop__ratios--enabled: true;
$o-crop__mod-alignments--enabled: true;

$o-flag--enabled: true;
$o-flag__mod-alignments--enabled: true;
$o-flag__mod-reverse--enabled: true;

$o-pack--enabled: true;
$o-pack__mod-spaces--enabled: true;
$o-pack__mod-alignments--enabled: true;
$o-pack__mod-reverse--enabled: true;
$o-pack__mod-auto--enabled: true;

$o-block--enabled: true;
$o-block__mod-alignments--enabled: true;
$o-block__mod-stretch--enabled: true;

$o-media--enabled: true;
$o-media__mod-reverse--enabled: true;

$o-ratio--enabled: true;
$o-ratio__mod-ratios--enabled: true;
$o-ratio__mod-bp--enabled: true;

$o-table--enabled: true;
$o-table_mod-spaces--enabled: true;
$o-table__mod-fixed--enabled: true;

$o-bullet--enabled: true;
$o-bullet__mod-block--enabled: true;
$o-bullet__mod-middle--enabled: true;
$o-bullet__mod-reverse--enabled: true;
$o-bullet__mod-iconsize--enabled: true;

$o-layout--enabled: true;
$o-layout__mod-spaces--enabled: true;
$o-layout__mod-alignments-v--enabled: true;
$o-layout__mod-alignments-h--enabled: true;
$o-layout__mod-reverse--enabled: true;

$o-wrapper--enabled: true;
$o-wrapper__mod-bp-from--enabled: true;
$o-wrapper__mod-bp-to--enabled: true;

